@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Open+Sans:wght@400;600&family=Press+Start+2P&family=Roboto+Slab&family=Rubik+Beastly&display=swap");
:-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-block: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    circle,
    0%,
    rgba(148, 187, 233, 1) 53% rgba(238, 174, 202, 1) 70%
  );
}

html,
body {
  background: radial-gradient(
    circle,
    0%,
    rgba(148, 187, 233, 1) 0% rgba(238, 174, 202, 1) 100%
  );
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  height: 100vh;
}

body {
  font-weight: 400;
}

button {
  font-family: "Press Start 2P", cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  background: #57e70480;
  text-transform: uppercase;
  border-radius: 30%;
}

h1 {
  margin-top: 1px;
  font-family: "Monofett", cursive;
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(
    rgb(24, 126, 167),
    rgba(117, 12, 12, 0.61)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Monofett", cursive;
  font-size: 1.6rem;
  text-align: center;
  background: -webkit-linear-gradient(
    rgb(24, 126, 167),
    rgba(117, 12, 12, 0.61)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  border: 5px dashed black;
  width: 90%;
  resize: none;
  margin: auto;
  outline: none;
  height: 40vh;
  background: linear-gradient(to bottom right, #f3f1f30c 30%, #7b8fdd31 95%);
  padding: 1%;
  border-radius: 50px;

  position: center;
  text-align: center;
}

.reset {
  font-family: "Press Start 2P", cursive;
  background-color: rgba(117, 12, 12, 0.61);
  color: rgb(24, 126, 167);
}
.placeHolder {
  color: transparent;
  background: transparent;
}

.stopButton {
  font-family: "Rubik Beastly", cursive;
  background-color: rgba(120, 28, 133, 0.335);
}

.startButton {
  font-family: "Press Start 2P", cursive;
  background-color: rgba(120, 28, 133, 0.335);
  margin-bottom: 33px;
  margin-top: 30px;
}

.toggle {
  font-family: "Press Start 2P", cursive;
  background: -webkit-linear-gradient(
    rgb(24, 126, 167),
    rgba(117, 12, 12, 0.61)
  );
  color: aliceblue;
}
.typeWrapper {
  width: 75%;
  margin: auto;
}
